<div class="root">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Time</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">2</th>
        <td>deepanshut041</td>
        <td>9:20 12/10/2018</td>
        <td>OK</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>deepanshut041</td>
        <td>8:30 12/10/2018</td>
        <td>OK</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>deepanshut</td>
        <td>7:30 12/10/2018</td>
        <td>OK</td>
      </tr>
    </tbody>
  </table>
</div>